extends layout/base

block page-title
  title Title

block page-content
  main.main-content
    .container
      .main-content__inner
        section.display
          .movie-screen
            #quote-display
            span#author-title
        section.button-row
          button#load-quote New Quote!
          button#tweet Tweet tweet!
          button#fakebook Phasebuuk

